<div class="card">
  <div class="card-header">
    Meus dados
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Genero</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.cpf}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.telefone}}</td>
          <td>{{usuario.genero}}</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
<button class="button" routerLink="/logada">Voltar</button>
