.button {
  margin-top: 2%; /* Define a margem superior como 180px */
  margin-left: 5%; /* Define a margem esquerda como 75px */
  padding: 20px 100px; /* Define o preenchimento */
  background-color: #000000; /* Cor de fundo preta *#d3f8ff*/
  color: #ffffff; /* Cor do texto branca */
  border: none; /* Remove a borda */
  border-radius: 30px; /* Define o raio da borda */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  cursor: pointer; /* Define o cursor como ponteiro */
  z-index: 2; /* Define o índice Z */
}

.custom-card {
  width: 100%;
  margin-bottom: 20px;
  background-color: #000000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  font-weight: bold;
}

.custom-table {
  width: 100%;
}

.custom-table th,
.custom-table td {
  text-align: center;
}

.custom-table th {
  font-weight: bold;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

